In [2]:
import pandas as pd
## Load data
air_data = pd.read_csv('AirQuality_Daily_StudentVersion.csv')


## Turn data into a dataframe
df = pd.DataFrame(air_data)

## REQUEST 1
### What are the 5 locations in Nebraska with the highest mean and median concentrations of VOC, PM2.5, and PM10?

#### I will:
#### 1. Groupe data by sensor.name
#### 2. Calculate mean and median
#### 3. Sort values
#### 4. Select top 5 locations

In [3]:
voc_summary = air_data.groupby('sensor.name').agg(
    mean_voc=('voc', 'mean'),
    median_voc=('voc', 'median')
).reset_index()

## View summary table
print(voc_summary)

                                          sensor.name    mean_voc  median_voc
0                  #16 - Richardson County Courthouse   86.758650   84.470500
1                                   #17 - Otoe County  251.427296  234.953542
2   #18 - Southeast District Health Department- Te...  196.150771  138.582583
3                          Ainsworth Public School #9  219.200274  217.897500
4                                          Broken Bow  158.285807  138.559646
5                            Buffalo County TRPHD #26  328.835391  343.764625
6                                 ELVPHD Norfolk HD 4  360.833744  368.580500
7                                 ELVPHD Tekamah HD 3  221.091595  145.515479
8                                  ELVPHD Wisner HD 5  102.291126  100.709271
9                                            FCHD-YPS  372.462720  375.383500
10                                 Laurel High School  130.631408  123.802782
11                Loup Basin Public Health Department  352.833902  343.790125
12                        Lower Niobrara NRD Butte 10  227.439379  199.574042
13                                  NCDHD O'Neill #11  283.633000  238.404833
14                               PHS Fairbury JCHL 13  275.879657  277.524833
15                                     SWNPHD-Imerial  285.456355  279.739104
16  South Heartland District Health Dept. Hastings...  305.385314  308.635708
17  South Heartland District Health Dept. Superior...  178.745074  165.819833
18                                   Swnphd-Benklemen  336.400969  355.171583
19                                      Swnphd-mccook  353.941581  381.468479
20                                    Swnphd-ogallala  399.434240  423.082292
21                     TRPHD Dawson Co. Courthouse 25  311.912841  321.994833
22                     TRPHD Harlan Co. Courthouse 24  209.876608  180.017042
23              Three Rivers Public Health Department  370.216208  376.810167
24                        WCDHD Arthur High School 28  258.691175  240.167104
25                                WCDHD City Building  168.480056   93.435708
26                          WCDHD Thedford Library 29  260.536134  256.889250

In [7]:
## Top 5 locations with highest MEAN VOC
top5_voc_mean = voc_summary.sort_values(by='mean_voc',ascending=False).head(5)

## Top 5 locations with highest MEDIAN VOC
top5_voc_median = voc_summary.sort_values(by='median_voc',ascending=False).head(5)

top5_voc_mean
top5_voc_median

                              sensor.name    mean_voc  median_voc
20                        Swnphd-ogallala  399.434240  423.082292
19                          Swnphd-mccook  353.941581  381.468479
23  Three Rivers Public Health Department  370.216208  376.810167
9                                FCHD-YPS  372.462720  375.383500
6                     ELVPHD Norfolk HD 4  360.833744  368.580500

In [21]:
pm25_summary = air_data.groupby('sensor.name').agg(
    mean_pm25=('pm2.5_atm', 'mean'),
    median_pm25=('pm2.5_atm', 'median')
).reset_index()

## Sort by mean PM2.5
pm25_top5 = pm25_summary.sort_values(
    by='mean_pm25',
    ascending=False
).head(5)

print("Top 5 Locations – PM2.5 (Mean & Median)")
pm25_top5

Top 5 Locations – PM2.5 (Mean & Median)

                                          sensor.name   mean_pm25  median_pm25
4                                          Broken Bow  928.710593    36.050240
0                  #16 - Richardson County Courthouse  700.127342    11.977344
2   #18 - Southeast District Health Department- Te...  613.175352    10.322875
13                                  NCDHD O'Neill #11  164.495078     7.251208
19                                      Swnphd-mccook  123.011622     4.582281

In [22]:
pm10_summary = air_data.groupby('sensor.name').agg(
    mean_pm10=('pm10.0_atm', 'mean'),
    median_pm10=('pm10.0_atm', 'median')
).reset_index()

## Sort by mean PM10
pm10_top5 = pm10_summary.sort_values(
    by='mean_pm10',
    ascending=False
).head(5)

print("Top 5 Locations – PM10 (Mean & Median)")
pm10_top5

Top 5 Locations – PM10 (Mean & Median)

                                          sensor.name   mean_pm10  median_pm10
4                                          Broken Bow  929.678512    43.179094
0                  #16 - Richardson County Courthouse  701.632446    13.305615
2   #18 - Southeast District Health Department- Te...  614.227248    11.433729
13                                  NCDHD O'Neill #11  166.132578     8.427437
19                                      Swnphd-mccook  124.227336     5.372073

## REQUEST 2

### On what days did the maximum values occur and where did these maximums occur?

#### I will find:
#### 1. Maximum VOC
#### 2. Maximum PM2.5
#### 3. Maximum PM10
#### 4. The date and sensor.name where each occurred

In [25]:
## Group by sensor and date, then calculate max VOC for each day/location
voc_daily_max = air_data.groupby(
    ['sensor.name', 'date']
).agg(
    max_voc = ('voc', 'max')
)
## Sort by VOC concentration (highest first)
voc_daily_max_sorted = voc_daily_max.sort_values(
    by = 'max_voc',
    ascending = False
)
## Show the single highest VOC event
voc_max_event = voc_daily_max_sorted.head(1)
print("VOC maximum occurred on:")
voc_max_event

VOC maximum occurred on:

                              max_voc
sensor.name     date
Swnphd-ogallala 06/24/24  1209.931571

In [28]:
## Group by sensor and date, then calculate max PM2.5
pm25_daily_max = air_data.groupby(
    ['sensor.name', 'date']
).agg(
    max_pm25 = ('pm2.5_atm', 'max')
)

## Sort by PM2.5 concentration
pm25_daily_max_sorted = pm25_daily_max.sort_values(
    by = 'max_pm25',
    ascending = False
)
## Show the single highest PM2.5 event
pm25_max_event = pm25_daily_max_sorted.head(1)

print("PM2.5 maximum occurred on:")
pm25_max_event

PM2.5 maximum occurred on:

                                                max_pm25
sensor.name                        date
#16 - Richardson County Courthouse 02/18/25  3782.823313

In [29]:
## Group by sensor and date, then calculate max PM10
pm10_daily_max = air_data.groupby(
    ['sensor.name', 'date']
).agg(
    max_pm10 = ('pm10.0_atm', 'max')
)

## Sort by PM10 concentration
pm10_daily_max_sorted = pm10_daily_max.sort_values(
    by = 'max_pm10',
    ascending = False
)

## Show the single highest PM10 event
pm10_max_event = pm10_daily_max_sorted.head(1)

print("PM10 maximum occurred on:")
pm10_max_event

PM10 maximum occurred on:

                                                max_pm10
sensor.name                        date
#16 - Richardson County Courthouse 02/18/25  3784.682542

## REQUEST 3

### Does humidity and temperature have a noticeable effect on air quality?

#### I will:

#### 1.Create humidity categories

#### 2.Create temperature categories

#### 3.Group data by those categories

#### 4.Compare mean / median VOC, PM2.5, PM10

In [33]:
def humidity_category(hum):
    if hum < 50:
        return "Low"
    elif hum <= 80:
        return "High"
    else:
        return "Very High"

## Apply function to create new column
air_data["humidity_category"] = air_data["humidity"].apply(humidity_category)

air_data.tail()

,date,monitor_index,humidity,pressure,temperature,voc,analog_input,pm2.5_alt,pm1.0_atm,pm2.5_atm,pm10.0_atm,sensor.latitude,sensor.longitude,sensor.altitude,sensor.name,humidity_category
8296,03/24/25,195373,23.636208,915.998292,61.489083,421.493750,0.02,0.762500,0.486583,0.830021,1.416125,41.148170,-100.761800,2800,WCDHD City Building,Low
8297,03/24/25,195379,28.043545,954.294546,66.009182,301.074800,0.00,0.800000,5.625545,5.873364,6.056773,40.877007,-97.579445,1639,FCHD-YPS,Low
8298,03/24/25,195383,31.451375,936.556583,55.752792,353.478000,0.05,0.575000,0.267500,0.478375,0.818146,41.779380,-99.138040,2174,Loup Basin Public Health Department,Low
8299,03/24/25,195385,NaN,NaN,NaN,NaN,0.01,0.970833,0.739500,1.088604,1.340563,40.019714,-98.071840,1597,South Heartland District Health Dept. Superior...,Very High
8300,03/24/25,195541,20.494500,901.484750,61.222167,485.556417,0.02,0.554167,0.132083,0.340417,0.737375,41.128284,-101.720220,3220,Swnphd-ogallala,Low

In [35]:
def temp_category(temp):
    if temp < 32:
        return "Below freezing"
    elif 32 < temp <=50:
        return "Cool"
    elif 51 < temp <= 70:
        return "Warm"
    else:
        return "Hot"

## Apply function to create new column
air_data["temp_category"] = air_data["temperature"].apply(temp_category)

air_data.head()

,date,monitor_index,humidity,pressure,temperature,voc,analog_input,pm2.5_alt,pm1.0_atm,pm2.5_atm,pm10.0_atm,sensor.latitude,sensor.longitude,sensor.altitude,sensor.name,humidity_category,temp_category
0,02/23/24,195089,14.377667,912.884333,62.266667,51.998667,0.051333,0.1000,0.000000,0.002500,0.039667,40.050922,-101.533570,3005,Swnphd-Benklemen,Low,Warm
1,02/23/24,195365,12.223600,926.403000,71.193400,64.920800,0.000000,0.1800,0.004800,0.020000,0.176000,40.200330,-100.639885,2576,Swnphd-mccook,Low,Hot
2,02/23/24,195541,20.095750,905.670750,61.008250,68.307000,0.020000,0.1625,0.004125,0.014812,0.063937,41.128284,-101.720220,3220,Swnphd-ogallala,Low,Warm
3,02/24/24,195089,25.368000,911.708833,51.462458,91.176750,0.052667,0.4375,0.099542,0.170667,0.355208,40.050922,-101.533570,3005,Swnphd-Benklemen,Low,Warm
4,02/24/24,195365,23.703083,925.282125,56.818208,107.863708,0.000000,0.4750,0.099208,0.231687,0.548583,40.200330,-100.639885,2576,Swnphd-mccook,Low,Warm

## REQUEST 4

### Have there been any AQI health risks (Unhealthy for Sensitive Groups) for PM2.5 and PM10?

#### EPA AQI thresholds used (standard):

#### PM2.5 ≥ 35.5 → Unhealthy for Sensitive Groups

#### PM10 ≥ 155 → Unhealthy for Sensitive Groups

In [36]:
## Filter PM2.5 values that meet AQI "Unhealthy for Sensitive Groups"
unhealthy_pm25 = air_data[air_data['pm2.5_atm'] >= 35.5]

## Select useful columns and sort by date
pm25_risk_events = unhealthy_pm25[
    ['date', 'sensor.name', 'pm2.5_atm']
].sort_values(by='date', ascending=False)

print("PM2.5 AQI Risk Events:")
pm25_risk_events

PM2.5 AQI Risk Events:

          date                         sensor.name    pm2.5_atm
6536  12/31/24  #16 - Richardson County Courthouse  2204.763619
6545  12/31/24                          Broken Bow  2102.347375
6525  12/30/24                          Broken Bow  1722.934604
6516  12/30/24  #16 - Richardson County Courthouse  1946.299250
6505  12/29/24                          Broken Bow  1720.250604
...        ...                                 ...          ...
6605  01/03/25                          Broken Bow  2010.865833
6585  01/02/25                          Broken Bow  1968.824813
6576  01/02/25  #16 - Richardson County Courthouse  2135.601729
6565  01/01/25                          Broken Bow  2107.029354
6556  01/01/25  #16 - Richardson County Courthouse  2114.623250

[520 rows x 3 columns]

In [38]:
## Filter PM10 values that meet AQI "Unhealthy for Sensitive Groups"
unhealthy_pm10 = air_data[air_data['pm10.0_atm'] >= 155]

## Select useful columns and sort by date
pm10_risk_events = unhealthy_pm10[
    ['date', 'sensor.name', 'pm10.0_atm']
].sort_values(by='date', ascending=False)

print("PM10 AQI Risk Events:")
pm10_risk_events

PM10 AQI Risk Events:

          date                         sensor.name   pm10.0_atm
6536  12/31/24  #16 - Richardson County Courthouse  2205.778262
6545  12/31/24                          Broken Bow  2102.588313
6525  12/30/24                          Broken Bow  1723.087500
6516  12/30/24  #16 - Richardson County Courthouse  1948.080313
6505  12/29/24                          Broken Bow  1720.299958
...        ...                                 ...          ...
6596  01/03/25  #16 - Richardson County Courthouse  2359.675646
6585  01/02/25                          Broken Bow  1969.514229
6576  01/02/25  #16 - Richardson County Courthouse  2136.544792
6565  01/01/25                          Broken Bow  2107.215604
6556  01/01/25  #16 - Richardson County Courthouse  2114.860313

[391 rows x 3 columns]

In [44]:
pm10_risk_count = unhealthy_pm10.groupby(
    'sensor.name'
).size().reset_index()

## Rename columns the simple way
pm10_risk_count.columns = ['sensor.name', 'pm10_risk_days']

print("PM10 AQI Risk Days by Location:")
pm10_risk_count

PM10 AQI Risk Days by Location:

                                         sensor.name  pm10_risk_days
0                 #16 - Richardson County Courthouse             102
1  #18 - Southeast District Health Department- Te...              56
2                                         Broken Bow             176
3                                           FCHD-YPS               1
4                Loup Basin Public Health Department               1
5                                  NCDHD O'Neill #11              21
6                                   Swnphd-Benklemen               1
7                                      Swnphd-mccook              28
8                                    Swnphd-ogallala               1
9                     TRPHD Dawson Co. Courthouse 25               4

In [43]:
pm25_risk_count = unhealthy_pm25.groupby(
    'sensor.name'
).size().reset_index()

## Rename columns the simple way
pm25_risk_count.columns = ['sensor.name', 'pm25_risk_days']

print("PM2.5 AQI Risk Days by Location:")
pm25_risk_count

PM2.5 AQI Risk Days by Location:

                                          sensor.name  pm25_risk_days
0                  #16 - Richardson County Courthouse             107
1                                   #17 - Otoe County               2
2   #18 - Southeast District Health Department- Te...              58
3                          Ainsworth Public School #9               7
4                                          Broken Bow             187
5                            Buffalo County TRPHD #26               7
6                                 ELVPHD Norfolk HD 4               7
7                                 ELVPHD Tekamah HD 3               2
8                                  ELVPHD Wisner HD 5               9
9                                            FCHD-YPS               4
10                                 Laurel High School               2
11                Loup Basin Public Health Department               8
12                        Lower Niobrara NRD Butte 10               6
13                                  NCDHD O'Neill #11              25
14                               PHS Fairbury JCHL 13               4
15                                     SWNPHD-Imerial               5
16  South Heartland District Health Dept. Hastings...               6
17  South Heartland District Health Dept. Superior...               3
18                                   Swnphd-Benklemen               7
19                                      Swnphd-mccook              32
20                                    Swnphd-ogallala               8
21                     TRPHD Dawson Co. Courthouse 25              10
22                     TRPHD Harlan Co. Courthouse 24               4
23              Three Rivers Public Health Department               4
24                        WCDHD Arthur High School 28               5
25                          WCDHD Thedford Library 29               1

#### These AQI health risk events were likely caused by wildfire smoke, dust from agricultural activities, and local emissions. Calm weather and low wind speeds may have allowed pollutants to build up near the ground.

### BONUS — Does sensor altitude have an impact on air quality values?

In [45]:
altitude_summary = air_data.groupby(
    'sensor.altitude'
).agg(
    mean_voc = ('voc', 'mean'),
    mean_pm25 = ('pm2.5_atm', 'mean'),
    mean_pm10 = ('pm10.0_atm', 'mean')
).reset_index()

## Sort by altitude (highest first)
altitude_summary_sorted = altitude_summary.sort_values(
    by = 'sensor.altitude',
    ascending = False
)

altitude_summary_sorted

    sensor.altitude    mean_voc   mean_pm25   mean_pm10
26             3661  258.691175    6.658474    7.712941
25             3269  285.456355    6.329091    7.281414
24             3220  399.434240   10.396579   11.347889
23             3005  336.400969    7.501374    9.041440
22             2850  260.536134    6.219710    7.509269
21             2800  168.480056    3.971512    4.817597
20             2582  158.285807  928.710593  929.678512
19             2576  353.941581  123.011622  124.227336
18             2519  219.200274   10.697058   12.390708
17             2392  311.912841   18.080629   19.548148
16             2174  352.833902    8.561095   10.454420
15             2147  328.835391    8.479442    9.596038
14             1990  283.633000  164.495078  166.132578
13             1984  209.876608    7.927510    8.944145
12             1920  305.385314    8.915233    9.852555
11             1810  227.439379    8.041274    9.365581
10             1639  372.462720    9.167842   11.138241
9              1597  178.745074    8.851045    9.851113
8              1537  130.631408    8.635639   10.254001
7              1522  360.833744   13.369492   15.969341
6              1438  275.879657    9.405360   11.132398
5              1385  102.291126   11.154420   14.462116
4              1188  370.216208    9.601760   11.226492
3              1143  196.150771  613.175352  614.227248
2              1055  251.427296    9.755345   11.671141
1              1033  221.091595    9.482822   10.683828
0              1023   86.758650  700.127342  701.632446

#### The results suggest that sensor altitude alone does not strongly control air quality. High pollutant concentrations occur at both low and high elevations, indicating that local sources and episodic events likely play a larger role.